# Anas Masroor

* Project: Tracking Data Map Plotting

In [1]:
import pandas as pd
import folium

In [2]:
trip_dt=pd.read_csv("final_dataset.csv")

In [3]:
trip_dt

,Date Time,Status,Speed(Km/h),Latitude,Longitude,Reference,Mileage,Geo_Fencing,route,speed_diff,harsh_breaking,harsh_acceleration,Trip,over_speeding
0,2023-01-01 00:54:36,Ignition On,0,30.22050,71.47538,"0.00 Km From Central College Multan, Opp Unive...",12,"{'place_id': 204232145, 'licence': 'Data © Ope...",1,0.0,0,0,1,0
1,2023-01-01 00:54:41,Normal,0,30.22050,71.47538,"0.00 Km From Central College Multan, Opp Unive...",12,"{'place_id': 204232145, 'licence': 'Data © Ope...",1,0.0,0,0,1,0
2,2023-01-01 00:54:46,Normal,0,30.22050,71.47538,"0.00 Km From Central College Multan, Opp Unive...",12,"{'place_id': 204232145, 'licence': 'Data © Ope...",1,0.0,0,0,1,0
3,2023-01-01 00:54:51,Normal,0,30.22050,71.47538,"0.00 Km From Central College Multan, Opp Unive...",12,"{'place_id': 204232145, 'licence': 'Data © Ope...",1,0.0,0,0,1,0
4,2023-01-01 00:54:56,Normal,0,30.22050,71.47538,"0.00 Km From Central College Multan, Opp Unive...",12,"{'place_id': 204232145, 'licence': 'Data © Ope...",1,0.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39487,2023-02-14 09:27:38,Normal,6,24.85648,67.00739,"0.00 Km From CPLC Parking, Court St, Ali Dina ...",1136,"{'place_id': 218567200, 'licence': 'Data © Ope...",0,0.0,0,0,127,0
39488,2023-02-14 09:27:40,Normal,7,24.85650,67.00739,"0.00 Km From CPLC Parking, Court St, Ali Dina ...",1136,"{'place_id': 218567200, 'licence': 'Data © Ope...",0,1.0,0,0,127,0
39489,2023-02-14 09:27:44,Passenger SeatBelt Close,0,24.85652,67.00742,"0.00 Km From CPLC Parking, Court St, Ali Dina ...",1136,"{'place_id': 218567200, 'licence': 'Data © Ope...",0,-7.0,0,0,127,0
39490,2023-02-14 09:27:46,Driver SeatBelt Close,0,24.85652,67.00742,"0.00 Km From CPLC Parking, Court St, Ali Dina ...",1136,"{'place_id': 218567200, 'licence': 'Data © Ope...",0,0.0,0,0,127,0
39491,2023-02-14 09:27:51,Ignition Off,0,24.85652,67.00742,"0.00 Km From CPLC Parking, Court St, Ali Dina ...",1136,"{'place_id': 218567200, 'licence': 'Data © Ope...",0,0.0,0,0,127,0

In [4]:
trip_dt["Date Time"] = pd.to_datetime(trip_dt["Date Time"])

In [5]:
trip_dt=trip_dt.sort_values("Date Time", ignore_index = True)

In [6]:
trip_gp = trip_dt.groupby("Trip")

In [7]:
trip_dt["Trip"].value_counts()

106    1866
110    1591
108    1561
105    1549
107    1370
       ...
6        64
7        63
79       58
121      54
48       54
Name: Trip, Length: 127, dtype: int64

In [8]:
vl=trip_dt[["Trip","over_speeding"]].value_counts()

In [9]:
vl[105]

over_speeding
0    1308
1     241
dtype: int64

In [10]:
trip_dt["over_speeding"].value_counts()

0    38697
1      795
Name: over_speeding, dtype: int64

In [11]:
trip= trip_gp.get_group(105)

In [12]:
trip

,Date Time,Status,Speed(Km/h),Latitude,Longitude,Reference,Mileage,Geo_Fencing,route,speed_diff,harsh_breaking,harsh_acceleration,Trip,over_speeding
25516,2023-02-08 07:53:39,Ignition On,0,30.19384,71.44878,"0.00 Km From Noor Mahal, Tariq Road, Multan, P...",133,"{'place_id': 112336165, 'licence': 'Data © Ope...",1,0.0,0,0,105,0
25517,2023-02-08 07:53:44,Normal,0,30.19384,71.44878,"0.00 Km From Noor Mahal, Tariq Road, Multan, P...",133,"{'place_id': 112336165, 'licence': 'Data © Ope...",1,0.0,0,0,105,0
25518,2023-02-08 07:53:49,Normal,0,30.19384,71.44878,"0.00 Km From Noor Mahal, Tariq Road, Multan, P...",133,"{'place_id': 112336165, 'licence': 'Data © Ope...",1,0.0,0,0,105,0
25519,2023-02-08 07:53:54,Normal,0,30.19384,71.44878,"0.00 Km From Noor Mahal, Tariq Road, Multan, P...",133,"{'place_id': 112336165, 'licence': 'Data © Ope...",1,0.0,0,0,105,0
25520,2023-02-08 07:53:59,Passenger SeatBelt Open,0,30.19384,71.44878,"0.00 Km From Noor Mahal, Tariq Road, Multan, P...",133,"{'place_id': 112336165, 'licence': 'Data © Ope...",1,0.0,0,0,105,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27060,2023-02-08 09:40:19,Normal,34,28.91970,70.62463,"0.00 Km From Zahir Pir Service Area-South, Dr....",311,"{'place_id': 249117431, 'licence': 'Data © Ope...",1,5.0,0,0,105,0
27061,2023-02-08 09:40:24,Normal,23,28.92002,70.62493,"0.00 Km From Zahir Pir Service Area-South, Dr....",311,"{'place_id': 249117431, 'licence': 'Data © Ope...",1,-11.0,0,0,105,0
27062,2023-02-08 09:40:30,Normal,0,28.92011,70.62502,"0.00 Km From Zahir Pir Service Area-South, Dr....",311,"{'place_id': 249117431, 'licence': 'Data © Ope...",1,-23.0,1,0,105,0
27063,2023-02-08 09:40:31,Driver SeatBelt Close,0,28.92011,70.62502,"0.00 Km From Zahir Pir Service Area-South, Dr....",311,"{'place_id': 249117431, 'licence': 'Data © Ope...",1,0.0,0,0,105,0
27064,2023-02-08 09:40:36,Ignition Off,0,28.92011,70.62502,"0.00 Km From Zahir Pir Service Area-South, Dr....",311,"{'place_id': 249117431, 'licence': 'Data © Ope...",1,0.0,0,0,105,0

In [13]:
trip_rt = trip[["Latitude","Longitude"]]

In [14]:
trip_rt

       Latitude  Longitude
25516  30.19384   71.44878
25517  30.19384   71.44878
25518  30.19384   71.44878
25519  30.19384   71.44878
25520  30.19384   71.44878
...         ...        ...
27060  28.91970   70.62463
27061  28.92002   70.62493
27062  28.92011   70.62502
27063  28.92011   70.62502
27064  28.92011   70.62502

[1549 rows x 2 columns]

In [15]:
Lat = trip_rt["Latitude"].values
Long = trip_rt["Longitude"].values

In [16]:
Lat

array([30.19384, 30.19384, 30.19384, ..., 28.92011, 28.92011, 28.92011])

In [17]:
from folium.plugins import AntPath

In [18]:
track_map = folium.Map([Lat[0],Long[0]])

AntPath(trip_rt.values, delay = 800, dash_array = [10,20], color = "brown", 
        pulse_color = "yellow", weight = 5, opacity=1.2, tooltip = "<b>Multan to Fatehpur</b>",
        popup = folium.Popup("""
        <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "450" height ="300" />
        <center><a> <font size="+1">Multan</font></a></center>
        """)).add_to(track_map)

track_map.save("Trip105.html")

In [19]:
track_map = folium.Map([Lat[0],Long[0]])

AntPath(trip_rt.values, delay = 800, dash_array = [15,30], color = "brown", 
        pulse_color = "yellow", weight = 5, opacity=1.3, tooltip = "<b>Multan to Fatehpur</b>",
        popup = folium.Popup("""
        <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "450" height ="300" />
        <center><a> <font size="+1">Multan to FatehPur</font></a></center>
        """)).add_to(track_map)
folium.Marker([Lat[0],Long[0]], popup = """
         <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "150" height ="100" />
        <center><a>Multan</font></a></center>
        """, 
        icon = folium.Icon(color= "blue", icon="glyphicon glyphicon-briefcase")).add_to(track_map)
folium.Marker([Lat[-1],Long[-1]], popup = """
         <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "150" height ="100" />
        <center><a>Fatehpur</font></a></center> """,  
            icon = folium.Icon(color="green", icon="glyphicon glyphicon-home")).add_to(track_map)


track_map.save("Trip105.html")

In [20]:
over_speed_loc=trip.loc[trip["over_speeding"]==1,["Latitude", "Longitude"]]

In [21]:
over_speed_loc

       Latitude  Longitude
25909  29.96327   71.38329
25910  29.96238   71.38355
25911  29.96150   71.38383
25924  29.94682   71.38853
25925  29.94593   71.38882
...         ...        ...
27022  28.94090   70.64283
27025  28.93815   70.64014
27026  28.93744   70.63945
27032  28.93267   70.63477
27033  28.93198   70.63409

[241 rows x 2 columns]

In [22]:
points=over_speed_loc.index

In [23]:
points

Int64Index([25909, 25910, 25911, 25924, 25925, 25929, 25932, 25933, 25947,
            25967,
            ...
            27015, 27016, 27017, 27018, 27021, 27022, 27025, 27026, 27032,
            27033],
           dtype='int64', length=241)

In [24]:
distance= pd.Series(points).diff().dropna().astype(int).values.tolist()

In [25]:
distance

[1,
 1,
 13,
 1,
 4,
 3,
 1,
 14,
 20,
 1,
 1,
 2,
 4,
 2,
 1,
 1,
 1,
 3,
 1,
 2,
 6,
 1,
 2,
 1,
 1,
 3,
 3,
 1,
 1,
 31,
 7,
 1,
 3,
 1,
 1,
 5,
 21,
 1,
 5,
 8,
 1,
 6,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 1,
 2,
 1,
 1,
 2,
 6,
 1,
 7,
 1,
 1,
 5,
 27,
 1,
 12,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 14,
 6,
 1,
 40,
 1,
 6,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 35,
 1,
 56,
 1,
 1,
 15,
 1,
 1,
 1,
 1,
 4,
 1,
 3,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 110,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 10,
 1,
 1,
 21,
 25,
 1,
 5,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 11,
 4,
 1,
 1,
 1,
 2,
 1,
 18,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 11,
 1,
 1,
 1,
 1,
 11,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 3,
 1,
 3,
 1,
 1,
 1,
 1,
 101,
 1,
 2,
 1,
 1,
 4,
 3,
 5,
 1,
 2,
 4,
 2,
 1,
 1,
 15,
 1,
 1,
 1,
 1,
 3,
 1,
 67,
 4,
 1,
 1,
 8,
 24,
 1,
 3,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 13,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 6,
 1]

In [26]:
final_lst=[]
lst=[]

for i,j in list(enumerate(distance)):
    if j == 1:
        lst.append(i)
    else:
        final_lst.append(lst)
        lst=[]

In [27]:
final_lst

[[0, 1],
 [3],
 [],
 [6],
 [],
 [9, 10],
 [],
 [],
 [14, 15, 16],
 [18],
 [],
 [21],
 [23, 24],
 [],
 [27, 28],
 [],
 [31],
 [33, 34],
 [],
 [37],
 [],
 [40],
 [],
 [],
 [44, 45, 46, 47, 48, 49],
 [51],
 [53, 54],
 [],
 [57],
 [59, 60],
 [],
 [63],
 [],
 [66, 67, 68, 69],
 [71, 72, 73, 74],
 [],
 [77],
 [79],
 [81, 82, 83, 84, 85, 86, 87],
 [],
 [90],
 [92, 93],
 [95, 96, 97, 98],
 [100],
 [102, 103],
 [],
 [106, 107, 108, 109, 110],
 [112, 113],
 [115, 116, 117, 118],
 [120, 121],
 [],
 [124],
 [],
 [127, 128, 129, 130, 131, 132],
 [134, 135, 136],
 [138],
 [140, 141, 142, 143, 144, 145],
 [147, 148, 149, 150],
 [],
 [153, 154, 155],
 [157],
 [159, 160, 161, 162, 163, 164],
 [166, 167, 168],
 [170, 171, 172, 173],
 [],
 [176, 177, 178],
 [180, 181],
 [183],
 [185, 186, 187, 188],
 [190],
 [192, 193],
 [],
 [],
 [197],
 [],
 [],
 [201, 202],
 [204, 205, 206, 207],
 [209],
 [],
 [212, 213],
 [],
 [216],
 [218],
 [220, 221, 222, 223, 224],
 [226, 227],
 [229, 230, 231, 232, 233],
 [235],
 [237]]

In [28]:
os_lst_ind=[]

for i in final_lst:
    if len(i)>5:
        os_lst_ind.append(i)

In [29]:
os_lst_ind

[[44, 45, 46, 47, 48, 49],
 [81, 82, 83, 84, 85, 86, 87],
 [127, 128, 129, 130, 131, 132],
 [140, 141, 142, 143, 144, 145],
 [159, 160, 161, 162, 163, 164]]

In [30]:
track_map = folium.Map([Lat[0],Long[0]])

AntPath(trip_rt.values, delay = 800, dash_array = [15,30], color = "brown", 
        pulse_color = "yellow", weight = 5, opacity=1.3, tooltip = "<b>Multan to Fatehpur</b>",
        popup = folium.Popup("""
        <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "450" height ="300" />
        <center><a> <font size="+1">Multan to FatehPur</font></a></center>
        """)).add_to(track_map)
folium.Marker([Lat[0],Long[0]], popup = """
         <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "150" height ="100" />
        <center><a>Multan</font></a></center>
        """, 
        icon = folium.Icon(color= "blue", icon="glyphicon glyphicon-briefcase")).add_to(track_map)
folium.Marker([Lat[-1],Long[-1]], popup = """
         <img src= https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7zKwbjA4XBUGvUT_KRI8vwvroRlwd6p1V8Q&usqp=CAU" 
        width = "150" height ="100" />
        <center><a>Fatehpur</font></a></center> """,  
            icon = folium.Icon(color="green", icon="glyphicon glyphicon-home")).add_to(track_map)

for i in os_lst_ind:
    ovs=over_speed_loc.iloc[i]
    AntPath(ovs.values, delay =400, dash_array = [15,30], color="red", pulse_color = "green", 
            weight = 8, opacity=1, tooltip="<b>Over Speeding</b>").add_to(track_map)


track_map.save("Trip105.html")

In [31]:
track_map = folium.Map([Lat[0],Long[0]], zoom_start=7)
layer1= folium.GeoJson(
        data= (open("pakistan.geojson", "r").read()),
        name="Pakistan")
layer1.add_to(track_map)

layer2= folium.GeoJson(
        data= (open("PAK_adm3.json", "r").read()),
        name="Pakistan_Detail")
layer2.add_to(track_map)

layer3= folium.GeoJson(
        data= (open("india.geojson", "r").read()),
        name="India")
layer3.add_to(track_map)

AntPath(trip_rt.values, delay = 800, dash_array = [15,30], color = "brown", 
        pulse_color = "yellow", weight = 5, opacity=1.3, tooltip = "<b>Multan to Fatehpur</b>",
        popup = folium.Popup("""
        <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "450" height ="300" />
        <center><a> <font size="+1">Multan to FatehPur</font></a></center>
        """)).add_to(track_map)
folium.Marker([Lat[0],Long[0]], popup = """
         <img src= "https://i0.wp.com/academiamag.com/wp-content/uploads/2022/12/h2-multan-primary-culture.jpg?fit=1310%2C760&ssl=1" 
        width = "150" height ="100" />
        <center><a>Multan</font></a></center>
        """, 
        icon = folium.Icon(color= "blue", icon="glyphicon glyphicon-briefcase")).add_to(track_map)
folium.Marker([Lat[-1],Long[-1]], popup = """
         <img src= https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7zKwbjA4XBUGvUT_KRI8vwvroRlwd6p1V8Q&usqp=CAU" 
        width = "150" height ="100" />
        <center><a>Fatehpur</font></a></center> """,  
            icon = folium.Icon(color="green", icon="glyphicon glyphicon-home")).add_to(track_map)

for i in os_lst_ind:
    ovs=over_speed_loc.iloc[i]
    AntPath(ovs.values, delay =400, dash_array = [15,30], color="red", pulse_color = "green", 
            weight = 8, opacity=1, tooltip="<b>Over Speeding</b>").add_to(track_map)

folium.TileLayer('openstreetmap').add_to(track_map)
folium.TileLayer('stamenterrain', attr = 'stamenterrain').add_to(track_map)
folium.TileLayer('stamenwatercolor', attr = 'stamenwatercolor').add_to(track_map)

folium.TileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', 
 name='CartoDB.DarkMatter', attr="CartoDB.DarkMatter").add_to(track_map)

folium.TileLayer('https://tileserver.memomaps.de/tilegen/{z}/{x}/{y}.png', 
 name='Airports', attr="OPNVKarte").add_to(track_map)

folium.TileLayer("https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png", 
 name='Street Map', attr="OpenStreetMap.France").add_to(track_map)

folium.LayerControl().add_to(track_map)
track_map.save("Trip.html")